In [4]:
import pandas as pd

In [5]:
# Read data from the given .txt file
df = pd.read_csv('po1_data.txt', header = None)
df

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,1,1.488,0.000090,0.900,0.794,2.699,8.334,0.779,4.517,4.609,...,187.576,160,159,0.006065,0.000416,0.000,0,0.000,23,1
1,1,0.728,0.000038,0.353,0.376,1.059,5.864,0.642,2.058,3.180,...,234.505,170,169,0.005181,0.000403,2.247,0,0.000,23,1
2,1,1.220,0.000074,0.732,0.670,2.196,8.719,0.875,4.347,5.166,...,211.442,1431,1427,0.006071,0.000474,10.656,1,0.178,23,1
3,1,2.502,0.000123,1.156,1.634,3.469,13.513,1.273,5.263,8.771,...,220.230,94,92,0.004910,0.000320,0.000,0,0.000,23,1
4,1,3.509,0.000167,1.715,1.539,5.145,9.112,1.040,3.102,4.927,...,225.162,117,114,0.004757,0.000380,18.182,1,13.318,23,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1035,40,5.127,0.000398,2.721,2.510,8.162,9.846,0.965,4.593,6.806,...,158.591,63,60,0.007766,0.001066,24.194,2,15.113,1,0
1036,40,1.757,0.000133,0.808,0.690,2.425,7.571,0.740,2.720,3.927,...,143.797,47,44,0.007561,0.000430,46.053,1,25.792,1,0
1037,40,2.912,0.000226,1.141,1.266,3.423,15.489,1.456,6.433,10.138,...,149.641,79,77,0.007767,0.000881,20.000,1,4.574,1,0
1038,40,3.788,0.000275,1.786,1.484,5.359,15.702,1.367,6.374,11.094,...,451.366,75,70,0.007257,0.001714,16.667,3,19.575,1,0
1039,40,1.809,0.000149,0.680,0.843,2.040,7.881,0.782,2.690,4.543,...,137.546,62,60,0.008211,0.000566,18.182,1,3.387,1,0

## Data cleaning

In [6]:
# Check if there's any missing values or abnormal data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040 entries, 0 to 1039
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1040 non-null   int64
 1   1       1040 non-null   float64
 2   2       1040 non-null   float64
 3   3       1040 non-null   float64
 4   4       1040 non-null   float64
 5   5       1040 non-null   float64
 6   6       1040 non-null   float64
 7   7       1040 non-null   float64
 8   8       1040 non-null   float64
 9   9       1040 non-null   float64
 10  10      1040 non-null   float64
 11  11      1040 non-null   float64
 12  12      1040 non-null   float64
 13  13      1040 non-null   float64
 14  14      1040 non-null   float64
 15  15      1040 non-null   float64
 16  16      1040 non-null   float64
 17  17      1040 non-null   float64
 18  18      1040 non-null   float64
 19  19      1040 non-null   float64
 20  20      1040 non-null   int64
 21  21      1040 non-null   int64
 22  22      1040 non-null   float64
 23  23      1040 non-null   float64
 24  24      1040 non-null   float64
 25  25      1040 non-null   int64
 26  26      1040 non-null   float64
 27  27      1040 non-null   int64
 28  28      1040 non-null   int64
dtypes: float64(23), int64(6)
memory usage: 235.8 KB

In [7]:
# Check if there's any null value
df.isnull()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1035,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1036,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1037,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1038,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1039,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
dtype: int64

In [9]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]
Index: []

[0 rows x 29 columns]

=> There is no null value in the dataset

## Feature engineering

### New variables

##### jitter-shimmer-difference ratio = Jitter(d.d.p) / Shimmer(d.d.a)

Both Jitter and Shimmer are pivotal for voice quality. So, we choose "jitter_shimmer_difference_ratio" because it combines variations between consecutive voice cycles, providing a comprehensive assessment of voice stability and instability, particularly vital in distinguishing Parkinson's symptoms.

AZADI, H., AKBARZADEH-T, M.-R., SHOEIBI, A. & KOBRAVI, H. R. 2021. Evaluating the Effect of Parkinson's Disease on Jitter and Shimmer Speech Features. Advanced biomedical research [Online], 10. Available: http://europepmc.org/abstract/MED/35127581
https://doi.org/10.4103/abr.abr_254_21
https://europepmc.org/articles/PMC8781904
https://europepmc.org/articles/PMC8781904?pdf=render [Accessed 2021].

In [10]:
jitter_shimmer_difference_ratio = df.iloc[:,5]/df.iloc[:,11]
jitter_shimmer_difference_ratio_df = pd.DataFrame(jitter_shimmer_difference_ratio)
jitter_shimmer_difference_ratio_df

             0
0     0.199173
1     0.171498
2     0.168405
3     0.219710
4     0.552810
...        ...
1035  0.592308
1036  0.297181
1037  0.177358
1038  0.280238
1039  0.252819

[1040 rows x 1 columns]

##### Harmonicity-to-Jitter ratio = Harmonic-to-Noise ratio(HNR) / Jitter(%)

Harmonicity-to-Jitter ratio (HJR) might be a good combonation because it captures the essence of the disease's effect on voice: a likely increase in jitter (frequency instability) and a decrease in harmonicity (voice clarity and quality). The balance (or imbalance) between these two factors, as captured by the HJR, could be a distinctive signature of PD.

FERRAND, C. T. 2002. Harmonics-to-noise ratio: an index of vocal aging. Journal of voice, 16, 480-487.

FARRÃšS, M., HERNANDO, J. & EJARQUE, P. Jitter and shimmer measurements for speaker recognition.  8th Annual Conference of the International Speech Communication Association; 2007 Aug. 27-31; Antwerp (Belgium).[place unknown]: ISCA; 2007. p. 778-81., 2007. International Speech Communication Association (ISCA).

In [11]:
harmonicity_to_jitter_ratio = df.iloc[:,14]/df.iloc[:,1]
harmonicity_to_jitter_ratio_df = pd.DataFrame(harmonicity_to_jitter_ratio)
harmonicity_to_jitter_ratio_df

              0
0      7.479839
1     23.905220
2     10.009836
3      4.549960
4      3.035908
...         ...
1035   1.325922
1036   6.383608
1037   3.789492
1038   1.737856
1039   7.447208

[1040 rows x 1 columns]

#####  Pitch range = Maximum pitch - Minimum pitch

This is the difference between Maximum pitch and Minimum pitch. Reduced pitch range (monotone) is one of the most common speech problems experienced by people with Parkinsonâ€™s disease. This means that people with PD may have difficulty conveying emotions when they speak, as their voice may sound flat and unexpressive. In contrast, healthy individuals typically have a wider pitch range, allowing them to convey emotions more effectively through their voice.

RAMIG, L. O., FOX, C. & SAPIR, S. 2008. Speech treatment for Parkinsonâ€™s disease. Expert Review of Neurotherapeutics, 8, 297-309.

In [12]:
pitch_range = df.iloc[:,19] - df.iloc[:,18]
pitch_range_df = pd.DataFrame(pitch_range)
pitch_range_df

            0
0      45.347
1      74.990
2      64.997
3      37.517
4      42.341
...       ...
1035   62.446
1036   22.307
1037   53.720
1038  361.315
1039   29.402

[1040 rows x 1 columns]

##### Pulse-to-Pitch ratio = Standard deviation of period / Standard deviation of pitch

The main reason to choose the ratio of the standard deviation of period to the standard deviation of pitch to distinguish people with Parkinson's Disease (PD) from healthy individuals is that Parkinson's affects the muscles used in speech, leading to vocal abnormalities. This ratio captures the variability in both the duration of the vocal fold vibration and the fundamental frequency, providing a combined metric that may sensitively detect these voice abnormalities characteristic of PD.

KHAN, T., WESTIN, J. & DOUGHERTY, M. 2014. Classification of speech intelligibility in Parkinson's disease. Biocybernetics and Biomedical Engineering, 34, 35-45.

In [13]:
pulse_to_pitch_ratio  = df.iloc[:,23] / df.iloc[:,17]
pulse_to_pitch_ratio_df = pd.DataFrame(pulse_to_pitch_ratio)
pulse_to_pitch_ratio_df

             0
0     0.000040
1     0.000027
2     0.000037
3     0.000029
4     0.000033
...        ...
1035  0.000074
1036  0.000060
1037  0.000065
1038  0.000037
1039  0.000070

[1040 rows x 1 columns]

### Add new variables to make a new dataset

In [14]:
# Combine the new variables with the old data to create a single dataset, getting it ready for analysis.
new_df = pd.concat((df.iloc[:,0:28],
                    jitter_shimmer_difference_ratio_df,
                    harmonicity_to_jitter_ratio_df,
                    pitch_range_df,
                    pulse_to_pitch_ratio_df,
                    df.iloc[:,28]), axis=1, ignore_index=True)

new_df.reset_index(drop=True, inplace=True)
new_df

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,1,1.488,0.000090,0.900,0.794,2.699,8.334,0.779,4.517,4.609,...,0.000416,0.000,0,0.000,23,0.199173,7.479839,45.347,0.000040,1
1,1,0.728,0.000038,0.353,0.376,1.059,5.864,0.642,2.058,3.180,...,0.000403,2.247,0,0.000,23,0.171498,23.905220,74.990,0.000027,1
2,1,1.220,0.000074,0.732,0.670,2.196,8.719,0.875,4.347,5.166,...,0.000474,10.656,1,0.178,23,0.168405,10.009836,64.997,0.000037,1
3,1,2.502,0.000123,1.156,1.634,3.469,13.513,1.273,5.263,8.771,...,0.000320,0.000,0,0.000,23,0.219710,4.549960,37.517,0.000029,1
4,1,3.509,0.000167,1.715,1.539,5.145,9.112,1.040,3.102,4.927,...,0.000380,18.182,1,13.318,23,0.552810,3.035908,42.341,0.000033,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1035,40,5.127,0.000398,2.721,2.510,8.162,9.846,0.965,4.593,6.806,...,0.001066,24.194,2,15.113,1,0.592308,1.325922,62.446,0.000074,0
1036,40,1.757,0.000133,0.808,0.690,2.425,7.571,0.740,2.720,3.927,...,0.000430,46.053,1,25.792,1,0.297181,6.383608,22.307,0.000060,0
1037,40,2.912,0.000226,1.141,1.266,3.423,15.489,1.456,6.433,10.138,...,0.000881,20.000,1,4.574,1,0.177358,3.789492,53.720,0.000065,0
1038,40,3.788,0.000275,1.786,1.484,5.359,15.702,1.367,6.374,11.094,...,0.001714,16.667,3,19.575,1,0.280238,1.737856,361.315,0.000037,0
1039,40,1.809,0.000149,0.680,0.843,2.040,7.881,0.782,2.690,4.543,...,0.000566,18.182,1,3.387,1,0.252819,7.447208,29.402,0.000070,0

In [15]:
# Save the new data to a new .txt file
new_df.to_csv('new_po1_data.txt', index=False, header=False)